## Strings in Python by Team 4

In [ ]:
str1 = 'Hello'
str2 = 'World'
str3 = 'Mary Poppins flew to sky.'

In [ ]:
# Type of variable 's1'
print('Type of string s1:', type(str1))

Type of string s1: <class 'str'>

In [ ]:
# Find the length of the string s1 and s3
print('Length of the string str1 is:', len(str1))
print('Length of the string str3 is:', len(str3))

Length of the string str1 is: 5
Length of the string str3 is: 25

In [ ]:
# String Concatenation - s1+s2
new_str = str1+str2
print('My new string after concatenation:', new_str)

My new string after concatenation: HelloWorld

In [ ]:
# String Repetition - n*str1
new_str = 3*str1
print('My new string:', new_str)

My new string: HelloHelloHello

In [ ]:
# Indexing
print('5th character from str1:', str1[4])
print('charater at index = -1 in str2:', str2[-1])

5th character from str1: o
charater at index = -1 in str2: d

In [ ]:
# Slicing

print(str1[0:3])         # Returns the string characters from the indices 0, 1 & 2
print(str1[0:4:2])       # Returns the string characters from start index 0 and then the characters that are 2 indices away
print(str1[ : : -1])     # Reverses the string.

Hel
Hl
olleH

In [ ]:
# String Comparison

print(str1 == str2)         # Returns True if s1=s2 else False. This should return 'False'
print(str1 != str2)         # Returns True if s1!=s2 else False. This should return 'True'

False
True

In [ ]:
# String Membership

x = 'Mary'

res1 = 'e' in str1               # Checks if 'e' in 'Hello'. This should return 'True'
res2 = 'me' in str1              # Checks if 'me' in 'Hello'. This should return 'False'
res3 = x in str3                 # Checks if 'Mary' in s3. This should return 'True'

print('Check if \'e\' in str1:', res1)
print('Check if \'me\' in str1:', res2)
print('Check if \'{}\' in str3:'.format(x), res3)

Check if 'e' in str1: True
Check if 'me' in str1: False
Check if 'Mary' in str3: True

In [ ]:
str1 = '     '
print('Length of string with white spaces \'str1\':', len(str1))

Length of string with white spaces 'str1': 5

In [ ]:
# Deleting the string

# Defining a string 'my_str' and printing it.
my_str = 'abcde'
print('String my_str:', my_str)

# The string variable does not exist after deletion. Hence it throws error.
del(my_str)
#print('String my_str after deletion', my_str)

String my_str: abcde

NameError: ignored

In [ ]:
# Common String Methods

s1 = 'Hello'
s2 = 'Beautiful World it is!'
s3 = '   mirror   '
s4 = ',,,,,rrrrrggggtttxxxxx,,,,'

In [ ]:
# count() - count for no. of occurances of specific sequence of characters in a string
# count() is case-sensitive
print('Counting no. of \'h\' in s1:', s1.count('h'))
print('Counting no. of \'hel\' in s1:', s1.count('Hel'))

# lower() - converts all characters of a string to lowercase
# lower() is not case-sensistive 
print('\nConverting s1 to lowercase:', s1.lower())     # converts s1 to lowercase
print('Converting s2 to lowercase:', s2.lower())     # converts s2 to lowercase


# upper() converts all characters of a string to uppercase
# upper() is not case-sensistive
print('\nConverting s1 to uppercase:', s1.upper())     # converts s1 to uppercase
print('Converting s2 to uppercase:', s2.upper())     # converts s2 to uppercase

Counting no. of 'h' in s1: 0
Counting no. of 'hel' in s1: 1

Converting s1 to lowercase: hello
Converting s2 to lowercase: beautiful world it is!

Converting s1 to uppercase: HELLO
Converting s2 to uppercase: BEAUTIFUL WORLD IT IS!

In [ ]:
# replace() - replaces the specified set of characters in the string with new set of characters
# replace() is case-sensitive

print('Replacing two l\'s together with one m:', s1.replace('ll', 'm'))        # replaces l with m in s1
print('Replacing 1st one occurance of l with m:', s1.replace('l','m',1))       # replaces the first l with m in s1
print('Replacing 1st two occurance of l with m:', s1.replace('l','m',2))       # replaces the first 2 l's with m in s1

Replacing two l's together with one m: Hemo
Replacing 1st one occurance of l with m: Hemlo
Replacing 1st two occurance of l with m: Hemmo

In [ ]:
# split() - splits the string at specified character within the quotes
# split() - returns a list after splitting
print('Splitting the string s2 at white spaces:', s2.split(' ')) # splits s2 at each space and returns an array with the split elements

Splitting the string s2 at white spaces: ['Beautiful', 'World', 'it', 'is!']

In [ ]:
# strip() - removes specified characters from the string in leading and trailing locations.

print('Stripping leading and training spaces from s3:', s3.strip())          # removes whitespace by default
print('Stripping occurances of \',\', \'r\', \'g\' or \'t\' from s4:', s4.strip(',rgt'))    # removes any instances of ',' 'r' 'g' or 't'

Stripping leading and training spaces from s3: mirror
Stripping occurances of ',', 'r', 'g' or 't' from s4: xxxxx

In [ ]:
# join() -  join all the iterables into a string with given separator
# join() syntax - seperator.join(iterables)

my_chars = ('w', 'o', 'r', 'l', 'd')
word = ''.join(my_chars)
print('New word after joining a set of characters:', word)

my_words = ('Boulder', 'is', 'a', 'beautiful', 'city')
sentence1 = ' '.join(my_words)
print('New sentence after joining the words with \'space\' as separator:', sentence1)

sentence2 = '-'.join(my_words)
print('New sentence after joining the words with \'dash\' as separator:', sentence2)

New word after joining a set of characters: world
New sentence after joining the words with 'space' as separator: Boulder is a beautiful city
New sentence after joining the words with 'dash' as separator: Boulder-is-a-beautiful-city

In [ ]:
# String Boolean Methods

s1 = 'abc'
s2 = 'ABC'
s3 = '123'
s4 = '123abc'
s5 = 'AbCd'
s6 = '      '

# isnumeric() - checks if all the characters of the string are numeric
print('Check if s3 is entirely numeric:', s3.isnumeric()) 
print('Check if s1 is entirely numeric:', s1.isnumeric()) 

# isalpha() - checks if the string is alphanumeric
print('\nCheck if s4 is alpha numeric:', s4.isalpha())  
print('Check if s1 is alpha numeric:', s1.isalpha()) 
print('Check if s3 is alpha numeric:', s3.isalpha()) 

# islower() - checks if all characters in a string are in lowercase
print('\nCheck if s1 is entirely in lowercase:', s1.islower()) 
print('Check if s5 is entirely in lowercase:', s5.islower()) 

# isupper() - checks if all characters in a string are in uppercase
print('\nCheck if s1 is entirely in uppercase:', s2.isupper()) 
print('Check if s5 is entirely in uppercase:', s5.isupper()) 

# isspace() - checks if all characters in a string are white spaces
print('\nCheck if s6 contains only white spaces', s6.isspace()) 
print('Check if s1 contains only white spaces', s1.isspace())

Check if s3 is entirely numeric: True
Check if s1 is entirely numeric: False

Check if s4 is alpha numeric: False
Check if s1 is alpha numeric: True
Check if s3 is alpha numeric: False

Check if s1 is entirely in lowercase: True
Check if s5 is entirely in lowercase: False

Check if s1 is entirely in uppercase: True
Check if s5 is entirely in uppercase: False

Check if s6 contains only white spaces True
Check if s1 contains only white spaces False

In [ ]:
# String Formatting

n_apples = 5 
unit_price = 2 

print('I bought ' + str(n_apples) + ' apples by paying $' + str(unit_price) + ' for each')
print()
print('I bought {} apples by paying ${} for each'.format(n_apples, unit_price))
print()
print(f'I bought {n_apples} apples by paying ${unit_price} for each')

I bought 5 apples by paying $2 for each

I bought 5 apples by paying $2 for each

I bought 5 apples by paying $2 for each